<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="https://logging.apache.org/xml/ns"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="
                   https://logging.apache.org/xml/ns
                   https://logging.apache.org/xml/ns/log4j-config-2.xsd">
    <Properties>
        <Property name="log_dir" value="${sys:canaryprism.timebot.logdir}"/>
    </Properties>
    <Appenders>
        <File name="FileAppender" fileName="${log_dir}/TimeBot-${date:yyyy-MM-dd_HH-mm-ss}.log">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="net.dv8tion.jda" level="INFO">
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="canaryprism.slavacord" level="DEBUG">
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="canaryprism.timebot" level="TRACE">
            <AppenderRef ref="FileAppender"/>
        </Logger>
    </Loggers>
</Configuration>
